# 문자열

In [2]:
s = "PythonProgramming"
s[:10]

t = "DataScience"
t[-1]+t[0]
t[-1::-10]

'PythonProg'

In [14]:
c = "HelloWorld"
c[::2]

d = "ProgrammingLanguage"
d[2:8]

'Hlool'

In [25]:
a = "ArtificialIntelligence"
a[:10]

b = "MachineLearning"
b[-1:-9:-1]

'Artificial'

In [54]:
e = "CloudComputing"
e[4::-1]+' '+e[-1:4:-1]

f = "InformationTechnology"
f[-1:10:]

'duolC gnitupmoC'

In [61]:
g = "Python is fun"
g.replace('fun', 'powerful')
g[:-3]+'powerful'

h = "Learning Python is useful"
h.replace('useful', 'easy')

'Python is powerful'

In [67]:
i = "Banana, Apple, Orange"
i.replace(',',';')

j = "Sun Mon Tue Wed Thu Fri Sat"
j.replace(' ','-')

'Sun-Mon-Tue-Wed-Thu-Fri-Sat'

In [70]:
k1 = "Web"
k2 = "Development"
k1+k2

l1 = "Deep"
l2 = "Learning"
l1+l2

'DeepLearning'

In [75]:
m = "Hi!"
m*5

n = "A"
(n+'-')*9+n

'A-A-A-A-A-A-A-A-A-A'

In [83]:
o = "   Hello, Python!  "
o.strip()

p = "---Python---"
p.strip('-')

'Python'

In [92]:
name = "Alice"
age = 30
city = "New York"
print(f'{name} 은 {age} 살이고, {city}에 살아요')

fruits = ["apple", "banana", "cherry"]
print(f'I like to eat {fruits[0]}, {fruits[1]}, {fruits[2]}')

product = {"name": "chair", "price": 40}
print(f'The price of this {product['name']} is {product['price']} dollars')

Alice 은 30 살이고, New York에 살아요
I like to eat apple, banana, cherry
The price of this chair is 40 dollars

# 리스트

In [97]:
movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]
movie_rank+=['배트맨']

movie_rank.insert(1, '슈퍼맨')
movie_rank

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [106]:
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
movie_rank.remove('럭키')
movie_rank.pop()

'배트맨'

In [107]:
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
lang1+lang2

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [118]:
nums = [1, 2, 3, 4, 5, 6, 7]
print(f'max = {max(nums)}\nmin = {min(nums)}')

nums = [1, 2, 3, 4, 5]
sum(nums)

cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
len(cook)

nums = [1, 2, 3, 4, 5]
sum(nums)/len(nums)

max = 7
min = 1

3.0

# 튜플

In [128]:
tuple([1])
(1,)

(1,)

In [122]:
t = (1, 2, 3)
t=list(t)
t[0] = 'a'
t=tuple(t)
t

('a', 2, 3)

In [129]:
t = 1, 2, 3, 4
type(t)

tuple

In [140]:
t = ('a', 'b', 'c')
r=[]
for i in t:
    r.append(i.upper())
t=tuple(r)
t

('A', 'B', 'C')

# 딕셔너리

In [158]:
dic = {'이름' : ['메로나', '폴라포', '빵빠레'], '가격' : [1000, 1200, 1800]}

dic['이름'] += ['죠스바', '월드콘', '슈퍼콘']
dic['가격'] += [1200, 1500, 2000]

search_word = input('아이스크림 이름')
for i,v in enumerate(dic['이름']):
    if search_word == v:
        print(dic['가격'][i])

2000

# 조건문과 함수

In [179]:
def is_exact_hour(extime):
    if extime[:-3:-1] == '00':
        return '정각입니다' 
    else:
        return '정각이 아닙니다'

print(is_exact_hour('13:00'))

정각입니다

# 반복문

In [194]:
numbers = [10, 15, 23, 42, 53, 64]

for i in numbers:
    for j in range(2, i):
        if i % j == 0:
            break
    print(i)

10
15
23
42
53
64

In [199]:
for i in range(1,6):
    for j in range(i):
        print(i, end=' ')
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [203]:
n1 = 1000
while True:
    if n1 % 17 == 0:
        print(n1)
        break
    n1 -=1

986

In [209]:
a, b = 0, 1

for i in range(1,11):
    print(a)
    a, b = b, a+b

0
1
1
2
3
5
8
13
21
34

In [211]:
n=1
while n<11:
    if n%2==1:
        print(n)
    n += 1

1
3
5
7
9